<div class="container">
{{#with lesson}}
	<ul id="to-sidebar" class="nav nav-sidebar">
		<li>
			<h4>Lessons:</h4>
		</li>
		{{#each course.lessons}}
			{{#if (equal ../_id _id)}}
			
	    <li class="active"><a id={{_id}} href="/admin/lesson/{{_id}}">{{title}}</a></li>
			
			{{else}}
	    <li><a id={{_id}} href="/admin/lesson/{{_id}}">{{title}}</a></li>
			{{/if}}
				
		{{/each}}
	</ul>
	<article id="lesson">
	<h1 id="lesson-title">{{title}}</h1>
	<p><a href="/admin/{{course._id}}">Course: {{course.title}}</a></p>
	<p><strong>Description:</strong> </p>
	<p id="lesson-description">{{description}}</p>
	<button class="btn btn-default" id="edit-button">Edit</button>
	</article>
	<form id="currents-form" class="row" role="form" method="POST" action="/admin/lesson/{{_id}}" enctype="application/x-www-form-urlencoded" style="display:none;">
	<input type="hidden" name="_method" value="PUT">
		
		<div class="col-sm-12">
			  {{!-- title --}}
			<div class="form-group">
			  <label for="title">Title</label>
			  <input id="title" type="text" name="title" class="form-control" required>
			</div>
			{{!-- description --}}
			<div class="form-group">
			  <label for="description">Description</label>
			  <textarea name="description" class="form-control" id="description" cols="30" rows="10"></textarea>
			  
			</div>
				  <button type="submit" class="btn btn-primary">Save</button>
				  <button name="cancel" class="btn btn-default">Cancel</button>
		</div>
	</form>
	
{{/with}}
</div>

<script>
	$(document).ready(function() {
		$('#edit-button').on('click', function(event) {
			event.preventDefault();
			/* Act on the event */
			
			$('#currents-form').show();
			$('#lesson').hide();
			$('#title').val($('#lesson-title').text());
			$('#description').val($('#lesson-description').text());
		});
		$('button[name="cancel"]').on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            $('#lesson').show();
        });
	});
</script>
