{{!-- <div class="row color-row brief-course">  --}}
		{{!-- <div class="col-sm-6 col-md-4"> --}}
	    <div class="thumbnail transparent">
	      	<a href="#{{category}}/{{path title}}">
	      		{{!-- <i class="icon fa fa-3x fa-html5"></i>
	      		<i class="icon fa fa-3x fa-css3"></i --}}
	      	</a>
	      <div class="caption">
					<p class="lead darkteal-text">{{title}}</p>
					<p>{{this.details.[0]}}</p>
	        <p>
	        <a href="#{{category}}/{{path title}}" class="btn btn-default" role="button">Посмотреть</a>
	        </p>
	      </div>
	    </div>
	  {{!-- </div> --}}
			
		
{{!-- </div> --}}