<div class="col-sm-offset-2 col-sm-6">
	<h3 class="darkteal-text">
		{{name}}
	</h3>
	 
	<script type="IN/MemberProfile" data-id="https://www.linkedin.com/{{fb}}" data-format="inline" data-related="false"></script>
</div> 


{{!-- {{courses}} --}}
<div class="col-sm-4">
	<h3 class="darkteal-text">
		Курсы:
	</h3>
	{{#each courses}}
	
		<p class="lead">
			<a href="#{{this.inCategory.title}}/{{path this.title}}">{{this.title}}</a>
		</p>
	{{/each}}
</div>